@use "sass:color";

$soft-white: #ddddd9;
$white: #fffff9;
$red: #882222;
$green: #228822;
$black: #070401;
$blue: #7777ff;
$purple: #ee66ee;

$blueish-grey: #50596a;
$dark-blueish-grey: #1b1d22;

$primary: $soft-white; 
$highlight: $white;
$background: $dark-blueish-grey;
$background-alt: $blueish-grey;
$link: $blue;
$visited-link: $purple;

$transparent-alpha: 0.75;
$border-radius: 0.5rem;
$shadow: 0 0 1rem color.change($black, $alpha: 0.5);
$top-bar-height: 6rem;
$max-width: 80rem;

@mixin desktop {
  @media (min-width: $max-width) {
    @content
  }
}

@mixin mobile {
  @media (max-width: $max-width) {
    @content
  }
}
