@use 'sass:color';
@use './defs';

body {
  color: defs.$primary;
  text-align: center;
  font-family: sans-serif;
  overflow-x: hidden;

  font-size: 1.5rem;
}

a {
  color: defs.$link;

  &:hover {
    color: color.adjust(defs.$link, $lightness: 20%)
  }
}

p {
  line-height: 2em;
  text-wrap: stable;
  text-wrap: pretty;
}

.button-collection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include defs.desktop {
    flex-direction: row;
  }
}
