@use 'sass:color';
@use './defs';

body {
  color: defs.$primary;
  text-align: center;
  font-family: sans-serif;
  overflow-x: hidden;
  font-size: 1.5rem;
}

:target {
  scroll-margin-top: defs.$top-bar-height;
  color: defs.$highlight;
}

a {
  color: defs.$link;

  &:hover {
    color: color.adjust(defs.$link, $lightness: 20%)
  }
}

p {
  line-height: 2em;
  text-wrap: balance;
}
