$primary-color: #CCCCCC;
$background-color: #070401;

body {
  background-color: $background-color;
  color: $primary-color;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

.content {
  display: flex;
  height: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: min(10rem, 20vw);
  font-weight: 300;
  letter-spacing: 0.15em;
  margin: 0;
}

p {
  font-size: 1.5rem;
  line-height: 2em;
  margin: 0;
  margin-top: 1em;
  text-wrap: pretty;
}

.redact {
  background-color: $primary-color;
}
