<div>
  <slot />
</div>

<style lang="scss">
@use '../styles/defs';

div {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  @include defs.desktop {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
</style>
