---
import DualColumnTable from './DualColumnTable.astro'

import { useLangFromUrl } from '../i18n/utils'
import * as strings from '../lib/strings'

const t = useLangFromUrl(Astro.url)
---

<DualColumnTable heading={t.contact.head}>
  <tr>
    <td>{t.contact.mail}</td>
    <td>
      <a href={`mailto:${strings.mail}`}>{strings.mail}</a>
    </td>
  </tr>
</DualColumnTable>

<style lang="scss">
td {
  vertical-align: top;
  width: 50%;

  &:first-child {
    text-align: right;
  }

  &:last-child {
    text-align: left;
  }
}
</style>
