---
import DualColumnTable from './DualColumnTable.astro'

import { Localisation, getLocaleFromUrl } from '../lib/i18n'

const l = new Localisation(getLocaleFromUrl(Astro.url))
---

<DualColumnTable heading={l.get('ui', 'openingHours.head')}>
  <tr>
    <td>{l.get('ui', 'openingHours.monToFri')}</td>
    <td>11:00 - 21:00</td>
  </tr>
  <tr>
    <td>{l.get('ui', 'openingHours.sat')}</td>
    <td>12:00 - 21:00</td>
  </tr>
  <tr>
    <td>{l.get('ui', 'openingHours.sun')}</td>
    <td>12:00 - 21:00</td>
  </tr>
</DualColumnTable>

<style lang="scss">
td {
  vertical-align: top;
  width: 50%;

  &:first-child {
    text-align: right;
  }

  &:last-child {
    text-align: left;
  }
}
</style>
