---
import '../styles/main.scss'

import TopBar from '../components/TopBar.astro'
import { getLangFromUrl } from '../i18n/utils'
---

<!doctype html>
<html lang={getLangFromUrl(Astro.url)}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!--link rel="icon" type="image/svg+xml" href="/favicon.svg" /-->
    <meta name="generator" content={Astro.generator} />
    <title>Asiana</title>
  </head>
  <body>
    <TopBar />
    <div id="content">
      <slot />
    </div>
  </body>
</html>

<style lang="scss">
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#content {
  box-sizing: border-box;
  width: 100%;
}
</style>
